@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Search Results Start -->
<div class="container-fluid pt-5">
    <div class="container pt-5">
        <h1 class="display-4 text-center mb-5">Available Cars</h1>
        <div class="row">
            @foreach (var car in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card shadow">
                        <img class="card-img-top" src="" alt="">
                        <div class="card-body">
                            <h4 class="card-title"></h4>
                            <div class="d-flex justify-content-between mb-3">
                                <div><i class="fa fa-users text-primary mr-2"></i> Seats</div>
                                <div><i class="fa fa-suitcase text-primary mr-2"></i>Bags</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h5 class="card-text">$Day</h5>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @Html.ActionLink("Select", "Booking", new {  }, new { @class = "btn btn-primary" })
                                }
                                else
                                {
                                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Login", "Home")'">Login to Book</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Search Results End -->